
<div class="ui card">
  <div class="image">
    <img src="{{model.avatarUrl}}" alt="">
  </div>
  <div class="content">
    <div class="header">
      {{model.name}}
    </div>
  </div>
</div>

{{outlet}}
